{% extends 'blog/base.html' %}
{%load static%}
{% block content %}

  <div class="jumbotron">
      <center><u><h2>Welcome {{ user.first_name }} !!</h2></u></center>
      <ul>
        <li><h3>Username: {{user.username}}</h3></li>
        <li><h3>First Name: {{user.first_name}}</h3></li>
        <li><h3>Last Name: {{user.last_name}}</h3></li>
        <li><h3>Email Id: {{user.email}}</h3></li>

        <li><h3>Profile Picture:</h3>
          {%if user.userprofile.profile_pic%}
            <img src="{{ user.userprofile.profile_pic.url}}" alt="Profile Pic" height="200px" width="200px"/>
          {%endif%}
        </li>
        <li><h3>Portfolio Site: <a href='{{ user.userprofile.portfolio_site }}'>{{ user.userprofile.portfolio_site }}</a></h3></li>
        <br>
        <h3><a href="{% url 'edit_profile' %}" >Edit Profile</a></h3>
        <h3><a href="{% url 'edit_password' %}" >Edit Password</a></h3>
      </ul>
  </div>



{% endblock %}
